%h2
  What about generating permissions repo?
%hr
  = link_to 'Generate users', generate_users_path, class: 'btn btn-primary btn-lg'
  = link_to 'Generate github teams', github_generate_permissions_path, class: 'btn btn-primary btn-lg'
  = link_to 'Generate google groups', google_generate_permissions_path, class: 'btn btn-primary btn-lg'
  = link_to 'Generate rollbar teams', rollbar_generate_permissions_path, class: 'btn btn-primary btn-lg'
