%h2
  Ready to sync github teams?
= link_to "Review last changes in permissions", AppConfig.permissions_repo.url, target: "_blank"
%hr
  - if validation_errors.empty?
    = form_tag github_calculate_diff_path, method: :get do
      = button_tag "Show diff", type: :submit, class: 'btn btn-primary btn-lg', 'data-disable-with' => disable_text
  - else
    %h3 Unable to parse following .yml files:
    %ul.list-group
    - validation_errors.each do |error|
      %li.list-group-item.list-group-item-danger #{error}
