.jumbotron
  %h2 Please confirm changes below:

  - if log_empty?(@google_log)
    %h3 Move along, nothing to see here.
    = link_to "Wicked!", root_path, class: 'btn btn-primary btn-lg'
  - else
    = render "google_log"
    = form_tag google_sync_path, method: :post do
      = button_tag "Confirm changes", type: :submit, class: 'btn btn-primary btn-lg', 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> I\'m on it...".html_safe
    
