%h4 Pending Invitations
%p Following members were invited to teams, but still have not accepted it.
%ul.collection
  - pending_invitations.each do |invitation|
    %li.collection-item #{invitation[:member_email]} in team #{invitation[:team_name]}
