- if users.any?
  %h4 Insecure users - let them know about missing 2FA
  %table.bordered.striped.highlight
    %thead
      %tr
        %th Name
        %th Github handle
        %th Email
        %th Projects
    %tbody
      - users.each do |u|
        %tr
          %td
            = u.name
          %td
            = link_to u.github, u.html_url
          %td
            = u.email
          %td
            = u.github_teams
