development:
  hockey_app:
    token:
  dataguru:
    access_token:
    api_url:
  github:
    client_id:
    client_secret:
  google:
    client_id:
    client_secret:
    domain_member_id:
    email:
      account_using_instruction: >
        Short description how to use account creation details,
        how to login in using 2step.
    p12_key_path:
    p12_key_secret:
    scope:
    service_account_email:
    supporter_email:
  permissions_repo:
    url:
    checkout_dir:
  rollbar:
    notification_token:
    organization_token:
  secret_key_base:
  # slack:
  #   webhook_url:
  #   default_channel:
  toggl_token:
