.jumbotron
  %h2 Please confirm changes below:

  - if log_empty?(@gh_log)
    %h3 Move along, nothing to see here.
    = link_to "Wicked!", root_path, class: 'btn btn-primary btn-lg'
  - else
    = render "gh_log"
    = button_to "Confirm changes", github_sync_path, method: :post, class: 'btn btn-primary btn-lg'
