%p Poniżej znajdują się dane do zalogowania się na naszej poczcie:

%p Logujemy się tutaj: http://gmail.com

%p username: #{@login}
%p email address: #{@email}
%p password: #{@password}
%p 
  two step auth codes: #{@codes.join(', ')}

%p Te kody ostatnie, to kody 2 krokowej weryfikacji (potwierdza się logowanie z nowego komputera telefonem). Są one jednorazowe i więcej nie będziesz mógł się już więcej nimi zalogować. Żeby móc korzystać z naszej skrzynki musisz od razu ustawić całą tą weryfikacje, zaraz po pierwszym zalogowaniu się do poczty. Instrukcja tutaj: https://support.google.com/accounts/answer/180744?hl=pl

%p Zainstaluj sobie proszę na swoim firmowym laptopie 1password - https://agilebits.com/onepassword - i używaj go żeby zapisywać wszystkie konta firmowe. Po dołączeniu do zespołu otrzymasz darmową licencję na ten program.