%h2
  Ready to sync github teams?
%hr

  = link_to "Review last changes in permissions", AppConfig.permissions_repo.url, target: "_blank"
%hr
  = link_to "CONFIRM", do_sync_github_index_path, method: "post"

- if missing_teams.size > 0
  %hr
  %h2 Validations
  %h3 This teams are on github, but can't be found in permissions repository - they most likely should be deleted.
  %ul
    - missing_teams.each do |team|
      %li= link_to team.name, github_team_path(team.name)
  = link_to "Ok, it makes sense to remove those teams!", cleanup_teams_github_index_path, method: :delete
