@import 'font-awesome';
@import 'materialize';

nav {
  @extend .blue, .darken-3;
}

.brand-logo {
  margin-left: 15px;
  font-size: 18px;
  font-weight: bold;
}

.error {
  font-weight: bold;
  color: #f00;
}

.inline {
  display: inline;
}

.with-margin-top {
  margin-top: 13px;
}
