@import 'font-awesome';
@import 'materialize';

$blue-lighten-5: #e3f2fd;
$blue-lighten-3: #90caf9;
$blue-darken-3: #1565c0;

nav {
  @extend .blue, .darken-3;
  margin-bottom: 13px;
}

.brand-logo {
  font-size: 18px;
  font-weight: bold;
  margin-left: 15px;
}

.error {
  font-weight: bold;
  color: #f00;
}

.inline {
  display: inline;
}

.buttons {
  display: flex;
  flex-flow: row;
  justify-content: space-around;

  .btn {
    letter-spacing: 0.3px;
    margin-bottom: 13px;
    width: 30%;
  }
}

.blue-table-header,
.blue-table-header > tr,
.blue-table-body > tr {
  border-bottom: 1px solid $blue-darken-3 !important;
}

.blue-table-body > tr:nth-child(odd) {
  background-color: $blue-lighten-3 !important;
}

.blue-table-body > tr:hover {
  background-color: $blue-lighten-5 !important;
}
