%nav
  .nav-wrapper
    = link_to 'Access app', root_path, class: 'brand-logo'
    %ul.right.hide-on-med-and-down
      %li= link_to 'Todays logs', todays_logs_path
      %li= link_to 'relogin google', google_oauth2_path if session[:credentials].present?
