%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      = link_to 'Access app', root_path, class: 'navbar-logo'
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to 'relogin google', google_oauth2_path if session[:credentials].present?
